// 主题颜色
base-color=             #ff8143
default-color=          #333 //大深灰
// 文字颜色
text-bold-color=        #404040 //深灰
text-ligh-color=        #4a4a4a //大灰
text-des-color=         #808080 //中灰
text-title-color=       #979797 //浅灰
text-active-color=      #ff712b //选中
text-coupon-color=      #F25963 //优惠卷

// 边框背景颜色
text-bg-color=          #f6f6f6 //背景
text-border-color=      #f0f0f0 //边框


// 字体大小
text-size1=              .12rem
text-size2=              .14rem
text-size3=              .18rem
text-size3=              .20rem

// 尺寸（按钮，边距）
